<!DOCTYPE html>
<html>
<body>

<h1>WHERE TO CHARGE?!</h1>

<p>Find the nearest Electric Fuel Station:</p>

<label for="cars">Choose starting location:</label>

<select id="cars">
  <option value="turing">Turing</option>
</select>
<%= link_to "Turing", "/nearest_station" %>
  
</body>


